body
    background: no-repeat 
    background-size: cover

    .dispo
    display:flex


    #block1
        width: 0.5rem
        height:5rem
        background-color: red
        border-radius:5px
    
    
    
    #block2
        width: 0.5rem
        height:5rem
        background-color: red
        border-radius:5px
        
    